{% extends "layout.html" %}

{% block title %}
    quoted
{% endblock %}

{% block main %}



    <div class="section">

        <h2>{{sim.symbol}}</h2>
        <table>
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->

                    <tr>
                    <td>{{ sim.name }}</td>
                    <td>{{ p }}</td>
                    </tr>

            </tbody>
        </table>
    </div>

{% endblock %}